:root {
  /* semantic color variables for this project */
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;

  --vt-c-grey: #c6c6c6;
  --vt-c-grey-soft: #f3f3f3;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;

  --color-background: var(--vt-c-grey-soft);
  --color-text: var(--vt-c-black-soft);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', -apple-system, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { text-decoration: none; }
