<script>
  import { isNonEmptyArr, isNull } from '@/utils';

  export default {
    name: 'BasicTable',
    props: {
      items: {
        type: Array,
        default: () => [],
      },
      columns: {
        type: Array,
        default: () => [],
      },
      hasCustomItemsTemplate: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        activeSort: { subject: null, sort: false },
        pageSizeList: [5, 10],
        pageSize: 5,
        pageIndex: 0,
      };
    },
    computed: {
      hasItems() {
        return isNonEmptyArr(this.items);
      },
      pageCount() {
        return Math.ceil(this.items.length / this.pageSize);
      },
      pages() {
        return Array.from(Array(this.pageCount).keys())
          .map((count) => ({ value: count, label: count + 1 }));
      },
      startIndex() {
        return this.pageIndex * this.pageSize;
      },
      endIndex() {
        return this.startIndex + this.pageSize;
      },
      sortedItems() {
        const nextItems = [...this.items];
        const { subject, sort } = this.activeSort;

        if (isNull(subject)) return false;

        nextItems.sort((a, b) => {
          const keyA = a[subject];
          const keyB = b[subject];

          if (keyA < keyB) return -1;
          if (keyA > keyB) return 1;

          return 0;
        });

        if (sort === 'desc') nextItems.reverse();

        return nextItems;
      },
      slicedItems() {
        const target = isNull(this.activeSort.subject) ? this.items : this.sortedItems;
        return target.slice(this.startIndex, this.endIndex);
      }
    },
    methods: {
      setActiveSort(subject) {
        const { activeSort } = this;

        if (activeSort.subject !== subject) {
          this.activeSort = { subject, sort: null };
        }

        switch (this.activeSort.sort) {
          case 'asc':
            this.activeSort.sort = 'desc';
            break;
          case 'desc':
            this.activeSort.subject = null;
            this.activeSort.sort = null;
            break;
          default:
            this.activeSort.sort = 'asc';
        }
      },
      setPageIndex(value) {
        this.pageIndex = value;
      },
    },
  };
</script>

<template>
  <div
    data-component-group="tables"
    data-component="basic-table"
  >
    <div class="table">
      <div class="row row--head">
        <div
          v-for="(column, index) in columns" :key="index"
          class="column"
        >
          <a
            v-if="column.isSortable && $can('sort', 'list')"
            href="#" class="sort-btn"
            :class="{
              'sort-btn--active': activeSort.subject === column.sort,
              'sort-btn--asc': activeSort.subject === column.sort && activeSort.sort === 'asc',
              'sort-btn--desc': activeSort.subject === column.sort && activeSort.sort === 'desc',
            }"
            @click.prevent="setActiveSort(column.sort)"
          >
            {{ column.label }}
            <i class="mdi mdi-menu-right" />
          </a>

          <span v-else>{{ column.label }}</span>
        </div>
      </div>

      <div
        v-for="(item, index) in slicedItems" :key="index"
        class="row"
      >
        <div
          v-for="column in columns" :key="column.type"
          class="column"
        >
          <slot
            v-if="hasCustomItemsTemplate"
            :cell="{
              id: column.type,
              value: column.value,
              item,
              rowIndex: index,
            }"
            name="item-cell"
          />

          <template v-else>
            {{ item[column.value] }}
          </template>
        </div>
      </div>
    </div>

    <div class="paginator">
      <div v-if="$can('sort', 'list')" class="paginator__limit">
        Records on page
        <select v-model="pageSize">
          <option
            v-for="(value, index) in pageSizeList" :key="index"
            :value="value"
          >
            {{ value }}
          </option>
        </select>
      </div>

      <div v-if="pageCount > 1" class="paginator__pages">
        <a
          href="#"
          :class="{
            'paginator__page-arrow': true,
            'paginator__page-arrow--disabled': !pageIndex
          }"
          @click.prevent="pageIndex--"
        >
          Previous
        </a>

        <button
          v-for="(page, index) in pages" :key="index"
          :disabled="page.value === pageIndex" @click.prevent="setPageIndex(page.value)"
        >
          {{ page.label }}
        </button>

        <a
          href="#"
          :class="{
            'paginator__page-arrow': true,
            'paginator__page-arrow--disabled': pageCount === (pageIndex + 1)
          }"
          @click.prevent="pageIndex++"
        >
          Next
        </a>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  [data-component-group="tables"][data-component="basic-table"] {
    width: 100%;

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid #c6c6c6;

      &--head {
        padding: 20px 0;
        border-bottom: 2px solid #c6c6c6;
        font-size: 13px;
        font-weight: 900;
        color: #c6c6c6;
        text-transform: uppercase;
      }
    }

    .column {
      flex: 1;
      font-weight: 500;

      &:first-child {
        flex: 2;
      }

      &:last-child {
        text-align: right;
      }

      span {
        font-size: 13px;
        font-weight: 100;
      }
    }

    .action-btn {
      margin: 0 5px;
      font-size: 18px;
      color: #c6c6c6;
    }

    .sort-btn {
      display: block;
      line-height: 1;
      color: #777777;

      i {
        visibility: hidden;
        font-size: 14px;
      }

      &--active {
        color: #333333;

        i {
          visibility: visible;
        }
      }

      &--asc i:before {
        transform: rotate(-90deg);
      }

      &--desc i:before {
        transform: rotate(90deg);
      }
    }

    .paginator {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      font-size: 13px;
      font-weight: 100;

      select {
        background: transparent;
        border: 0;
        font-weight: 900;
      }

      button {
        margin: 0 3px;
        background: transparent;
        border: 0;
        font-weight: 900;
        cursor: pointer;

        &:disabled {
          padding: 4px 8px;
          background: #c6c6c6;
          border-radius: 5px;
          color: #333333;
          box-shadow: 2px 2px 2px #e6e6e6;
        }
      }

      &__page-arrow {
        margin: 0 3px;
        color: #333333;

        &--disabled {
          opacity: .5;
          pointer-events: none;
        }
      }
    }
  }
</style>
