<script>
  export default {
    name: 'PermissionList',
    props: {
      permissionList: {
        type: Array,
        required: true,
      }
    },
    methods: {
      toggleSetVisibility(set) {
        set.isToggled = !set.isToggled;
      },
      togglePermission(permission) {
        permission.isSet = !permission.isSet;
      },
      toggleSetPermissions(set) {
        console.log(set);
      },
    },
  };
</script>

<template>
  <div
    data-component-group="lists"
    data-component="permission-list"
  >
    <div
      v-for="(set, setIndex) in permissionList" :key="setIndex"
      class="group"
    >
      <div class="group__head" @click="toggleSetVisibility(set)">
        {{ set.label }}
      </div>

      <div v-show="set.isToggled" class="group__content">
        <div
          v-for="(permission, permissionIndex) in set.permissions" :key="permissionIndex"
          class="group__content-row"
        >
          {{ permission.label }}
          <Toggle :is-active="permission.isSet" @click="togglePermission(permission)" />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  [data-component-group="lists"][data-component="permission-list"] {
    .group {
      border-bottom: 1px solid #c6c6c6;

      &__head {
        padding: 16px 10px;
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
      }

      &__content {
        padding: 0 0 10px 24px;
      }

      &__content-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 0;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
</style>
