<script>
  import { mapState, mapActions } from 'pinia';
  import { authStore } from '@/stores/auth';

  export default {
    name: 'BaseLayout',
    data() {
      return {};
    },
    computed: {
      ...mapState(authStore, ['isLogged']),
    },
    methods: {
      ...mapActions(authStore, { logoutUser: 'logout' }),
    }
  };
</script>

<template>
  <div
    data-component-group="layouts"
    data-component="basic"
  >
    <div class="header">
      <div class="header__placeholder">
        <div class="header__title">
          <slot name="title" />
        </div>

        <div class="header__search">
          <slot name="search" />

          <BasicBtn v-if="isLogged" @click.prevent="logoutUser()">
            Logout
          </BasicBtn>
        </div>

        <div class="header__actions">
          <slot name="actions" />
        </div>
      </div>
    </div>

    <div class="body">
      <div class="body__placeholder">
        <slot />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  [data-component-group="layouts"][data-component="basic"] {
    .header {
      display: flex;
      justify-content: center;
      background: #ffffff;
      border-bottom: 1px solid #c3c3c3;
      box-shadow: 1px 2px 3px #c3c3c3;

      &__placeholder {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1280px;
        height: 160px;
        padding: 0 10px;
      }

      &__title {
        padding: 40px 0 0 40px;
        font-size: 30px;
        font-weight: 500;
      }

      &__actions {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: -50px;
        left: -60px;
        height: 100px;
      }

      &__search {
        display: flex;

        button {
          margin-left: 40px;
        }
      }

      &__stamp-icon,
      &__action-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        font-size: 28px;
        color: #f3f3f3;
        background: #315eca;
        box-shadow: 1px 2px 3px #c3c3c3;

        &--inactive {
          background: #c6c6c6;
          cursor: auto;
        }
      }
    }

    .body {
      display: flex;
      justify-content: center;

      &__placeholder {
        position: relative;
        display: flex;
        justify-content: center;
        width: 1280px;
        padding: 40px 10px;
      }
    }
  }
</style>
