<script>
  import { useHead } from '@vueuse/head';
  import { mapState, mapActions } from 'pinia';
  import { useVuelidate } from '@vuelidate/core';
  import { required, email } from '@vuelidate/validators';
  import { authStore } from '@/stores/auth';
  import { userStore } from '@/stores/user';
  import { userRoles } from '@/configs/roles';
  import BasicTable from '@/components/tables/Basic';
  import BaseModal from '@/components/modals/Modal';

  export default {
    name: 'HomeView',
    components: { BasicTable, BaseModal },
    setup() {
      useHead({ title: 'Home View' });
      return { v$: useVuelidate() };
    },
    data() {
      return {
        userRoles,
        search: '',
        user: {
          firstName: null,
          lastName: null,
          email: null,
          roleId: null,
        },
        columns: [
          {
            type: 'user',
            value: 'user',
            label: 'User',
            isSortable: true,
            sort: 'firstName',
          },
          {
            type: 'role',
            value: 'role',
            label: 'Role',
            isSortable: true,
            sort: 'role',
          },
          {
            type: 'status',
            value: null,
            label: 'Status',
            isSortable: true,
            sort: 'isActive',
          },
          {
            type: 'actions',
            value: null,
            label: 'Actions',
            isSortable: false,
            sort: null,
          },
        ],
        isModalOn: false,
      };
    },
    validations() {
      return {
        user: {
          firstName: { required },
          lastName: { required },
          email: { required, email },
          roleId: { required },
        }
      };
    },
    computed: {
      ...mapState(authStore, ['userId']),
      ...mapState(userStore, ['users']),
      filteredUsers() {
        return [...this.users]
          .filter(({ firstName, lastName }) => (
            firstName.toLowerCase().includes(this.search.toLowerCase()) || lastName.toLowerCase().includes(this.search.toLowerCase())
          ));
      },
      firstNameErrors() {
        const errors = [];
        if (!this.v$.user.firstName.$dirty) {
          return errors;
        }

        if (this.v$.user.firstName.required.$invalid) {
          errors.push('First name is required.');
        }
        return errors;
      },
      lastNameErrors() {
        const errors = [];
        if (!this.v$.user.lastName.$dirty) {
          return errors;
        }

        if (this.v$.user.lastName.required.$invalid) {
          errors.push('Last name is required.');
        }
        return errors;
      },
      emailErrors() {
        const errors = [];
        if (!this.v$.user.email.$dirty) {
          return errors;
        }
        if (this.v$.user.email.required.$invalid) {
          errors.push('Email is required.');
        }
        if (this.v$.user.email.email.$invalid) {
          errors.push('Must be a valid email address.');
        }
        return errors;
      },
      roleErrors() {
        const errors = [];
        if (!this.v$.user.roleId.$dirty) {
          return errors;
        }

        if (this.v$.user.roleId.required.$invalid) {
          errors.push('Role is required.');
        }
        return errors;
      },
    },
    methods: {
      ...mapActions(userStore, ['setActiveItem', 'createItem', 'deleteItem']),
      viewUserProfile(user) {
        this.setActiveItem(user);
        this.$router.push({ name: 'user', params: { id: user.id } });
      },
      toggleModal() {
        this.isModalOn = !this.isModalOn;
      },
      createUser() {
        this.v$.$touch();

        if (this.isLoading || this.v$.$error || this.v$.pending) {
          return false;
        }

        const nextUser = { ...this.user };

        this.isModalOn = false;

        this.createItem(nextUser);
      },
      deleteUser(nextUser) {
        this.deleteItem(nextUser);
      },
    },
  };
</script>

<template>
  <BaseLayout>
    <template #title>
      Project Access
    </template>

    <template #actions>
      <a
        href="#" class="header__action-btn"
        @click.prevent="toggleModal"
      >
        <i class="mdi mdi-plus" />
      </a>
    </template>

    <template #search>
      <TextField
        v-if="$can('search', 'list')"
        v-model="search"
        placeholder="Type to filter the table"
        :error-messages="firstNameErrors"
      />
    </template>

    <div data-view="home">
      <BasicTable
        :items="filteredUsers" :columns="columns"
        has-custom-items-template
      >
        <template #item-cell="{ cell }">
          <template v-if="cell.id === 'user'">
            <div>{{ `${cell.item.firstName} ${cell.item.lastName}` }}</div>
            <div>
              <span>{{ cell.item.email }}</span>
            </div>
          </template>

          <template v-else-if="cell.id === 'role'">
            {{ cell.item.role }}
          </template>

          <template v-else-if="cell.id === 'status'">
            <Toggle :is-active="cell.item.isActive" />
          </template>

          <template v-else-if="cell.id === 'actions'">
            <template v-if="userId !== cell.item.id">
              <a
                v-if="$can('read', 'user')"
                class="action-btn"
                href="#" @click.prevent="viewUserProfile(cell.item)"
              >
                <i class="mdi mdi-cog" />
              </a>

              <a
                v-if="$can('delete', 'user')"
                class="action-btn"
                href="#" @click.prevent="deleteUser(cell.item)"
              >
                <i class="mdi mdi-delete" />
              </a>
            </template>
          </template>
        </template>
      </BasicTable>
    </div>

    <BaseModal
      title="Create User" icon="mdi-account"
      :is-on="isModalOn" :on-close="toggleModal"
    >
      <template #content>
        <div class="modal-content">
          <!-- DEV NOTE: export this to a component and reuse on user view and client side validation -->
          <TextField
            v-model="user.firstName"
            label="First name" placeholder="Type your last name"
            :error-messages="firstNameErrors"
          />

          <TextField
            v-model="user.lastName"
            label="Last name" placeholder="Type your last name"
            :error-messages="lastNameErrors"
          />

          <TextField
            v-model="user.email"
            label="Email" placeholder="Type your email"
            :error-messages="emailErrors"
          />

          <SelectField
            v-model.number="user.roleId" :items="userRoles"
            item-value="id" item-text="label"
            label="Role" placeholder="Select a role"
            :error-messages="roleErrors"
          />

          <div>
            <BasicBtn variation="confirm" @click.prevent="createUser">
              Create user
            </BasicBtn>
          </div>
        </div>
      </template>
    </BaseModal>
  </BaseLayout>
</template>

<style lang="scss">
  [data-view="home"] {
    width: 100%;
  }

  .modal-content {
    width: 360px;
  }
</style>
