<script>
  import { useHead } from '@vueuse/head';
  import { mapState, mapActions } from 'pinia';
  import { useVuelidate } from '@vuelidate/core';
  import { required } from '@vuelidate/validators';
  import { userStore } from '@/stores/user';
  import { isObj, isNonEmptyStr } from '@/utils';
  import { userRoles } from '@/configs/roles';
  import { permissionList } from '@/configs/permissionSets';
  import PermissionList from '@/components/lists/PermissionList';
  import TextField from '@/components/common/TextField';

  export default {
    name: 'ProfileView',
    components: { PermissionList, TextField },
    inject: ['$ability'],
    setup() {
      useHead({ title: 'Profile View' });
      return { v$: useVuelidate() };
    },
    data() {
      return {
        user: {
          firstName: null,
          lastName: null,
          email: null,
          roleId: null,
          isActive: false,
        },
        userRoles,
        permissionSets: [],
      };
    },
    validations() {
      return {
        user: {
          firstName: { required },
          lastName: { required },
        }
      };
    },
    computed: {
      ...mapState(userStore, ['users', 'activeUser']),
      hasSetUser() {
        const { activeUser } = this;

        return isObj(activeUser)
          && isNonEmptyStr(activeUser.id);
      },
      firstNameErrors() {
        const errors = [];
        if (!this.v$.user.firstName.$dirty) {
          return errors;
        }

        if (this.v$.user.firstName.required.$invalid) {
          errors.push('First name is required.');
        }
        return errors;
      },
      lastNameErrors() {
        const errors = [];
        if (!this.v$.user.lastName.$dirty) {
          return errors;
        }

        if (this.v$.user.lastName.required.$invalid) {
          errors.push('Last name is required.');
        }
        return errors;
      },
    },
    created() {
      if (!this.hasSetUser) {
        this.setUser(this.$route.params);
      }

      this.extractUserData();
    },
    methods: {
      ...mapActions(userStore, ['setActiveItem', 'updateItem']),
      setUser({ id }) {
        const nextUser = this.users.find((user) => user.id === id);
        this.setActiveItem(nextUser);
      },
      generatePermissionSets(activePermissions) {
        return permissionList.map(({ permissions, ...rest }) => ({
          permissions: permissions.map((permission) => ({
            ...permission,
            isSet: activePermissions.some(({ action, subject }) => (
              action === permission.action && subject === permission.subject
            )),
          })),
          isToggled: true,
          ...rest,
        }));
      },
      extractUserData() {
        const { permissions, ...rest } = this.activeUser;

        this.user = { ...rest };
        this.permissionSets = this.generatePermissionSets(permissions);
      },
      extractActivePermissions() {
        return this.permissionSets
          .map(({ permissions }) => permissions)
          .flat()
          .filter(({ isSet }) => isSet)
          .map(({ action, subject }) => ({ action, subject }));
      },
      updateUser() {
        this.v$.$touch();

        if (this.isLoading || this.v$.$error || this.v$.pending) {
          return false;
        }

        const nextUser = {
          ...this.user,
          permissions: this.extractActivePermissions(),
        };

        this.updateItem(nextUser);
        this.$router.push({ name: 'home' });
      }
    },
  };
</script>

<template>
  <BaseLayout>
    <template #title>
      User Setup
    </template>

    <template #actions>
      <div class="header__stamp-icon header__stamp-icon--inactive">
        <i class="mdi mdi-cog" />
      </div>
    </template>

    <div data-view="user">
      <div class="panel panel--user">
        <i class="mdi mdi-account" />
        <div class="panel__title panel__title--user">
          {{ `${activeUser.firstName} ${activeUser.lastName}` }}
        </div>
        <span>{{ activeUser.email }}</span>
      </div>

      <div class="panel panel--details">
        <div class="panel__title">
          Details
        </div>

        <TextField
          v-model="user.firstName"
          label="First name" placeholder="Type your last name"
          :error-messages="firstNameErrors"
        />

        <TextField
          v-model="user.lastName"
          label="Last name" placeholder="Type your last name"
          :error-messages="lastNameErrors"
        />

        <SelectField
          v-model.number="user.roleId" :items="userRoles"
          item-value="id" item-text="label"
          label="Role" placeholder="Select a role"
        />

        <Toggle :is-active="user.isActive" @click="user.isActive = !user.isActive" />

        <div>
          <BasicBtn variation="confirm" @click.prevent="updateUser">
            Save Changes
          </BasicBtn>

          <BasicBtn @click.prevent="$router.push({ name: 'home' })">
            Cancel
          </BasicBtn>
        </div>
      </div>

      <div class="panel panel--permissions">
        <div class="panel__title">
          Permissions
        </div>

        <PermissionList :permission-list="permissionSets" />
      </div>
    </div>
  </BaseLayout>
</template>

<style lang="scss">
  [data-view="user"] {
    width: 100%;
    display: flex;

    .panel {
      &--user {
        width: 24%;
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 200px;
          height: 200px;
          margin-bottom: 20px;
          border: 5px solid #333;
          border-radius: 100px;
          font-size: 148px;
        }
      }

      &--details {
        width: 34%;
        padding: 0 20px;
      }

      &--permissions {
        width: 42%;
      }

      &__title {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 500;

        &--user {
          margin-bottom: 10px;
          font-size: 42px;
          text-align: center;
          line-height: 1;
        }
      }
    }
  }
</style>
