<script>
  export default {
    props: {
      modelValue: {
        type: [Object, String, Number],
        default: () => (''),
      },
      items: {
        type: Array,
        default: () => ([]),
      },
      itemValue: {
        type: String,
        default: undefined,
      },
      itemText: {
        type: String,
        default: undefined,
      },
      label: {
        type: String,
        required: true,
      },
      placeholder: {
        type: String,
        default: 'Please select an option ...',
      },
      required: {
        type: Boolean,
        default: false,
      },
      readonly: {
        type: Boolean,
        default: false,
      },
      errorMessages: {
        type: Array,
        default: () => [],
      }
    },
    computed: {
      hasErrors() {
        return this.errorMessages.length > 0;
      }
    },
    methods: {
      onInput(value) {
        this.$emit('update:modelValue', value);
      }
    }
  };
</script>

<template>
  <div
    data-component-group="common"
    data-component="select-field"
  >
    <span v-if="label" class="label">{{ label }}</span>

    <div>
      <select
        :value="modelValue"
        :readonly="readonly"
        :required="required"
        class="select-field"
        @input="onInput($event.target.value)"
        @change="$emit('change')"
        @blur="$emit('blur')"
        @focus="$emit('focus')"
      >
        <option disabled value>
          {{ placeholder }}
        </option>
        <option
          v-for="(item, index) in items" :key="index"
          :value="item[itemValue]"
        >
          {{ item[itemText] }}
        </option>
      </select>
    </div>

    <div v-if="hasErrors" class="errors">
      <ul class="error-list">
        <li
          v-for="(item, index) in errorMessages" :key="index"
          class="list-item"
        >
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  [data-component-group="common"][data-component="select-field"] {
    .select-field {
      width: 100%;
      height: 36px;
      line-height: 36px;
      padding: 4px;
      background: transparent;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: #c6c6c6;
      font-size: 14px;

      &:focus {
        border-color: #333333;
        outline: none;
      }
    }

    .label {
      display: block;
      padding-left: 4px;
      font-size: 12px;
      color: #777777;
    }

    .errors {
      .error-list {
        list-style: none;
        padding: 4px 0;
        margin: 0;

        .list-item {
          margin-top: 4px;
          color: #ff0000;
          font-size: 12px;
        }
      }
    }
  }
</style>
