<script>
  export default {
    name: 'PillToggle',
    props: {
      isActive: {
        type: Boolean,
        default: false,
      },
    },
  };
</script>

<template>
  <div
    data-component-group="common"
    data-component="toggle"
  >
    <div
      :class="[
        'toggle-bar',
        { 'toggle-bar--is-active': isActive }
      ]"
    >
      <div class="toggle-bar__toggle" />
    </div>
  </div>
</template>

<style lang="scss">
  [data-component-group="common"][data-component="toggle"] {
    width: 36px;
    height: 14px;

    .toggle-bar {
      position: relative;
      width: 36px;
      height: 14px;
      border-radius: 7px;
      background: #f89797;
      cursor: pointer;

      &__toggle {
        position: absolute;
        top: -3px;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: #ff0000;
        cursor: pointer;
      }

      &--is-active {
        background: #b1d4e7;

        & .toggle-bar__toggle {
          left: auto;
          right: 0;
          background: #43a0d4;
        }
      }
    }
  }
</style>
